<!--
<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragments/lib.html::lib('Get all')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="chao" th:replace="Fragments/lib.html::Chao">

</div>
<table class="table">
    <thead class="thead-light">
    <td>
        STT
    </td>
    <td>
        ID
    </td>
    <td>
        Name
    </td>
    <td>
        Email
    </td>
    <td>
        Password
    </td>
    <td>
        Birth
    </td>
    <td>
        Action
    </td>
    </thead>
    <tr th:each="user : ${users}">
        <td th:text="${userStat.index+1}"></td>
        <td th:text="${user.ID}"></td>
        <td th:text="|${user.lastName} ${user.firstName}|"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.birthDay}"></td>
        <td>
            <a th:href="'/users/view/'+${user.ID}">View</a>
            <a th:href="'/users/delete/'+${user.ID}">Delete</a>
        </td>
    </tr>
</table>
<button onclick="location.href='/users/new'">Create</button>

</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head th:replace="Fragments/lib.html::lib('Get all')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="chao" th:replace="Fragments/lib.html::Chao"></div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>STT</th>
                    <th >ID</th>
                    <th >Name</th>
                    <th >Email</th>
                    <th >Password</th>
                    <th >Birth</th>
<!--                    <th >Role</th>-->
                    <th >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, userStat : ${users}">
                    <td th:text="${userStat.index + 1}"></td>
                    <td th:text="${user.ID}"></td>
                    <td th:text="|${user.lastName} ${user.firstName}|"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.birthDay}"></td>
                  <!--  <td th:text="${user.role.role_Name}"></td>-->
                    <td>
                        <a th:href="'/users/view/' + ${user.ID}" class="btn btn-info btn-sm">View</a>
                        <a th:href="'/users/delete/' + ${user.ID}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="location.href='/users/new'">Create</button>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

